body {
    background-color: black;
    color: rgb(154, 202, 222);
    font-family: 'helvetica', sans-serif;
    padding: 20px;
}

a,
a:visited {
    display: block;
    color: rgb(154, 202, 222);
    text-decoration: none;
    padding: 8px;
}

a:hover {
    font-family: "times";
    color: black;
}

#intro {
    position: absolute;
    width: 500px;
    left: 300px;
    top: 25px;
}

#links {
    position: absolute;
    width: 250px;
}

.link {
    margin: 10px;
    border: 1px solid rgb(154, 202, 222);
    border-radius: 50%;
    text-align: center;
}

.link:hover {
    background-color: rgb(154, 202, 222);
    color: black
}


/* book */

#bookpgcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#bookpgcontainer>img {
    max-height: 400px;
    border: 0.2px solid rgb(154, 202, 222);
    margin: 5px;
}

#bookmock>img {
    height: 400px;
}