* {
    color: rgb(206, 235, 245);
}

body {
    background-color: black;
    line-height: .9;
    font-family: "Helvetica", sans-serif;
    /* display: inline-block; */
}

#text {
    column-count: 17;
    column-width: 10px;
    text-align: justify;
    text-justify: inter-character;
    word-wrap: break-word;
}

div {
    /* display: inline-block; */
}