* {
    font-family: "helvetica", sans-serif;
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    color: rgb(206, 235, 240);
}

body {
    margin: 10px;
    background-color: black;
}

#container {
    position: absolute;
    left: 40px;
}

#one {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    height: 90vh;
    width: 44vw;
    border: 1.8px solid rgb(206, 235, 240);
    text-align: center;
    text-overflow: clip;
}

#two {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    height: 90vh;
    width: 44vw;
    border: 1.8px solid rgb(206, 235, 240);
    text-align: center;
    text-overflow: clip;
}


/* div:hover {
    filter: blur(4px);
} */

p {
    padding-top: 350px;
    margin: 0 auto;
}